# VC++6.0 Ignore Rules
# No Production Files
Release/**
# No Debug Files
Debug/**
# No Intermediate Files
*.ncb
*.opt
*.dsw


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
